<div class="image">
  <img src="./assets/img/jonathan.png" alt="">
</div>

<div class="contact">
  <p>{{email.toUpperCase()}}</p>
  <p>{{phone}}</p>
  <a target="_blank" href="https://www.linkedin.com/in/jonathan-armen-stein">LINKEDIN</a> |
  <a target="_blank" href="https://github.com/JStein92">GITHUB</a>
</div>

<hr>

<div class="summary">
  <p>
  Seattle native, born and raised in Redmond. I have always had a passion for programming. As a teenager, I was making complex mods for video games. In high school and college, I was developing windows applications and programming my own games. Now, I'm a front end web developer who wants to help your company make their next app.
  </p>
</div>

<div class="skills">
  <h1>Languages</h1>
  <ul>
    <li>Angular2/4</li>
    <li>JavaScript</li>
    <li>HTML/CSS/SASS</li>
    <li>SQL</li>
    <li>C#</li>
  </ul>

  <h1>Software proficiency</h1>
  <ul>
    <li>Photoshop</li>
    <li>Github/Git Version Control</li>
    <li>Visual Studio</li>
    <li>Maya</li>
    <li>Unity 3D</li>
  </ul>

  <h1>Other experience:</h1>
  <ul>
    <li>Paid tutor in Maya for 6 different clients with a 5 star rating</li>
    <li>Usability and playtesting, writing formal heuristic reports</li>
    <li>Zarya Main in Overwatch, 3300-High SR</li>
  </ul>
</div>
